{% extends 'blog/base.html' %}

{% block content %}

    <form method="POST" class="post-form .input-block-level"> {% csrf_token %}
      <div class="post container">
        <div class="jumbotron text-center">
          <h1 class="text-center">Delete post</h1>
          <label>Are you sure you want to delete?</label>
          <br/>
          <a class="btn btn-default" href="javascript:history.go(-1)"><span class="glyphicon glyphicon-arrow-left"></span></a>
          <button class="btn btn-danger" type="submit">Delete</button>

        </div>
      </div>

    </form>
{% endblock %}
